$white-color: #fff;
$font-family: "Hind";

.app-header {
  width: 100%;
  height: 5rem;
  background-color: #640032;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family;

  .app-header__link {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid transparent;
  }

  .app-header__link:active,
  .app-header__link:hover {
    /*opacity: 0.6;*/
    color: aqua;
  }

  .app-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}